In [2]:
import duckdb

### Testing Duckdb, making sure it's connected

In [3]:
con = duckdb.connect("NY_Collisions.duckdb")
table_test = con.sql("SELECT * FROM './NY_Collisions.csv' LIMIT 10;")
table_test.show()

┌────────────┬────────────┬───────────┬───┬─────────────────────┬─────────────────────┬─────────────────────┐
│ CRASH DATE │ CRASH TIME │  BOROUGH  │ … │ VEHICLE TYPE CODE 3 │ VEHICLE TYPE CODE 4 │ VEHICLE TYPE CODE 5 │
│    date    │  varchar   │  varchar  │   │       varchar       │       varchar       │       varchar       │
├────────────┼────────────┼───────────┼───┼─────────────────────┼─────────────────────┼─────────────────────┤
│ 2021-09-11 │ 2:39       │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2022-03-26 │ 11:45      │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2022-06-29 │ 6:55       │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2021-09-11 │ 9:35       │ BROOKLYN  │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 8:13       │ BROOKLYN  │ … │ NULL                │ NULL                │ NULL                │
│ 2021-04-14 │ 12:47      │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 17:05      │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 8:17       │ BRONX     │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 21:10      │ BROOKLYN  │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 14:58      │ MANHATTAN │ … │ NULL                │ NULL                │ NULL                │
├────────────┴────────────┴───────────┴───┴─────────────────────┴─────────────────────┴─────────────────────┤
│ 10 rows                                                                              29 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Create a 'collisions' table from csv file

Using a CTE + Subquery because the 'ZIP CODE' field has couldn't auto detect. Will fix this in dbt later!

In [5]:
create_table = con.sql("""
                       
CREATE TABLE collisions AS
FROM (SELECT * FROM read_csv('./NY_Collisions.csv', types={'ZIP CODE': 'VARCHAR'}));
                       
""") 

collision_table = con.sql("SELECT * FROM collisions LIMIT 10;")

collision_table.show()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌────────────┬────────────┬───────────┬───┬─────────────────────┬─────────────────────┬─────────────────────┐
│ CRASH DATE │ CRASH TIME │  BOROUGH  │ … │ VEHICLE TYPE CODE 3 │ VEHICLE TYPE CODE 4 │ VEHICLE TYPE CODE 5 │
│    date    │  varchar   │  varchar  │   │       varchar       │       varchar       │       varchar       │
├────────────┼────────────┼───────────┼───┼─────────────────────┼─────────────────────┼─────────────────────┤
│ 2021-09-11 │ 2:39       │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2022-03-26 │ 11:45      │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2022-06-29 │ 6:55       │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2021-09-11 │ 9:35       │ BROOKLYN  │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 8:13       │ BROOKLYN  │ … │ NULL                │ NULL                │ NULL                │
│ 2021-04-14 │ 12:47      │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 17:05      │ NULL      │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 8:17       │ BRONX     │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 21:10      │ BROOKLYN  │ … │ NULL                │ NULL                │ NULL                │
│ 2021-12-14 │ 14:58      │ MANHATTAN │ … │ NULL                │ NULL                │ NULL                │
├────────────┴────────────┴───────────┴───┴─────────────────────┴─────────────────────┴─────────────────────┤
│ 10 rows                                                                              29 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [6]:
count = con.sql("SELECT COUNT(*) FROM collisions;")
count.show()

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      2100238 │
└──────────────┘

Table created on to making the dbt moodels.

In [4]:
dbt_test = con.sql("SELECT * FROM my_first_dbt_model;")
dbt_test.show()

┌───────┐
│  id   │
│ int32 │
├───────┤
│     1 │
│  NULL │
└───────┘